/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  background-color: var(--ifm-background-color);
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroImage {
  margin-top: 2em;
  margin-bottom: 2em;
}

.heroLogo {
  margin-bottom: 1em;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}


.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 4rem;
  width: 100%;
}

.featureSvg {
  height: 100px;
  width: 100px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 3rem;
  gap: 0.5rem;
}

.width {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  gap: 1rem;
  max-width: 452px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 0.1rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 996px) {
  .width {
    flex-direction: column;
    gap: 1em;
  }

  .section {
    padding: 2rem 1rem;
  }
}
