/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  --ifm-font-family-base: 'Poppins';
}

/* You can override the default Infima variables here. */
:root {
  /* Color Palette */
  --colors-darker-grey: #27364a;
  --colors-dark-grey: #1d2939;
  --colors-light-grey: #314155;
  --colors-white: #ffffff;
  --colors-off-white: #fbfcff;
  --colors-off-white-dark: #f3f6ff;
  --colors-dark-blue: #002891;

  /* Custom Variables */
  --hero-image-background-color: var(--colors-off-white);
  --title-text-color: var(--colors-dark-blue);

  /* Informa Variables */
  --ifm-color-primary: #2a48df;
  --ifm-color-primary-dark: #1f3ccf;
  --ifm-color-primary-darker: #1d39c4;
  --ifm-color-primary-darkest: #182fa1;
  --ifm-color-primary-light: #415ce2;
  --ifm-color-primary-lighter: #4d66e4;
  --ifm-color-primary-lightest: #6f83e9;
  --ifm-code-font-size: 95%;
  --ifm-footer-background-color: var(--colors-white);
  --ifm-background-color: var(--colors-off-white) !important;
  --ifm-card-background-color: var(--colors-off-white);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* Custom Variables */
  --hero-image-background-color: var(--colors-darker-grey);

  /* Infirma Variables */
  --ifm-color-primary: #66fbd1;
  --ifm-color-primary-dark: #44fac7;
  --ifm-color-primary-darker: #32fac1;
  --ifm-color-primary-darkest: #06f1af;
  --ifm-color-primary-light: #88fcdb;
  --ifm-color-primary-lighter: #9afce1;
  --ifm-color-primary-lightest: #cdfef0;
  --ifm-footer-background-color: var(--colors-dark-grey);
  --ifm-background-color: var(--colors-darker-grey) !important;
  --ifm-navbar-background-color: var(--colors-dark-grey);
  --ifm-card-background-color: var(--colors-light-grey);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Footer */
html .footer {
  margin-top: 4rem;
}

html footer .footer__copyright {
  font-size: 0.75rem;
}

html[data-theme='dark'] .footer {
  background-color: var(--ifm-footer-background-color);
}

/* GitHub Navbar Icon */
.navbar-github-icon:hover {
  opacity: 0.6;
}

.navbar-github-icon:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='dark'] .navbar-github-icon:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

/* VGV Navbar Icon */
.navbar-vgv-icon:hover {
  opacity: 0.6;
}

.navbar-vgv-icon:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url('../../static/img/vgv_logo_black.svg') no-repeat;
  background-size: 24px;
}

html[data-theme='dark'] .navbar-vgv-icon:before {
  background: url('../../static/img/vgv_logo_fill.svg') no-repeat;
  background-size: 24px;
}
