name: update_templates

on:
  schedule:
    # weekly on mondays at 8 am utc
    - cron: "0 8 * * 1"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: dart-lang/setup-dart@v1
        with:
          sdk: "3.9.0"

      - name: Install mason
        run: dart pub global activate mason_cli

      - name: Bump templates
        run: tool/generate_bundles.sh

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7.0.8
        with:
          token: ${{ secrets.VGV_BOT_PAT }}
          base: main
          branch: feat/bump-template-bundles
          commit-message: "feat: bump template bundles"
          title: "feat: bump template bundles"
          body: Please squash and merge me!
          labels: bot
